        #head {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
            color: #333;
            background-color: #f6f6f6;
            text-align: center;
        }

        #title {
            font-size: 1.5rem;
            font-weight: bold;
            background-color: #f5deb3;
            color: #444;
            text-align: center;
        }

        #post {
            line-height: 1.5;
            color: #8b4513;
            background-color: #f5deb3;
            font-size: 20px;
        }

        #author {
            color: #40E0D0;
        }
        #time {
            color: #40E0D0;
        }
        #posts {
            background-color: #e7e7e7;
            border: 1px solid black;
            margin-top: 20px;
        }