{% extends 'base.html' %}

{% block title %}
    Профиль
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <p>
            Никнейм: {{ prof.user.username }}
        </p>
        <p>
            Имя: {{ prof.user.first_name }}
        </p>
        <p>
            Фамилия: {{ prof.user.last_name }}
        </p>
        <p>
            Почта: {{ prof.user.email }}
        </p>
        <p>
            День рождения: {{ prof.date_of_birth }}
        </p>
        <p>
            Описание: {{ prof.about_me }}
        </p>

        <a href="{% url 'edit_profile' %}">
            <button> Изменить данные </button>
        </a>
        <p>Посты: </p>
        {% if posts %}
            <ul>
            {% for post in posts %}
                <li><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></li>
                <li>{{ post.body }}</li>
                <li><hr></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No posts yet</p>
        {% endif %}
        <a href="{% url 'home' %}">
             <button> На главную </button>
        </a>
    {% else %}
        <p>Вы ещё не зарегистрировались. У вас нет профиля</p>
        <a href="{% url 'register' %}">Зарегистрироваться</a>
    {% endif %}
{% endblock content %}